.Digital1{
    background-image: url("../../assets/imgs/Digital/Digital1.webp");
    width: 100%;
    height: 400px;
}
.Digital2{
    background-image: url("../../assets/imgs/Digital/Digital2.webp");
    width: 100%;
    height: 400px;
}
.Digital3{
    background-image: url("../../assets/imgs/Digital/Digital3.webp");
    width: 100%;
    height: 250px;
}
.Digital4{
    background-image: url("../../assets/imgs/Digital/Digital4.webp");
    width: 100%;
    height: 250px;
}
.Digital5{
    background-image: url("../../assets/imgs/Digital/Digital5.webp");
    width: 100%;
    height: 300px;
}
.Digital6{
    background-image: url("../../assets/imgs/Digital/Digital6.webp");
    width: 100%;
    height: 250px;
}
.Digital7{
    background-image: url("../../assets/imgs/Digital/Digital7.webp");
    width: 100%;
    height: 250px;
}
.Digital8{
    background-image: url("../../assets/imgs/Digital/Digital8.webp");
    width: 100%;
    height: 250px;
}
.Digital9{
    background-image: url("../../assets/imgs/Digital/Digital9.webp");
    width: 100%;
    height: 250px;
}
.Digital10{
    background-image: url("../../assets/imgs/Digital/Digital10.webp");
    width: 100%;
    height: 250px;
}
.Digital11{
    background-image: url("../../assets/imgs/Digital/Digital11.webp");
    width: 100%;
    height: 250px;
}
.Digital12{
    background-image: url("../../assets/imgs/Digital/Digital12.webp");
    width: 100%;
    height: 250px;
}


.all__photography-container{
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}
@media screen and (min-width: 600px){
    .Digital1, .Digital2, .Digital3, .Digital4, .Digital5, .Digital6, .Digital7, .Digital8, .Digital9, .Digital10, .Digital11, .Digital12{
        height: 400px;
        width: 500px;
    }
}

@media screen and (min-width: 992px){
    .Digital1, .Digital2, .Digital3, .Digital4, .Digital5, .Digital6, .Digital7, .Digital8, .Digital9, .Digital10, .Digital11, .Digital12{
        width: 800px;
        height: 600px;
    }
}

@media screen and (min-width:1300px){
    .Digital1, .Digital2, .Digital3, .Digital4, .Digital5, .Digital6, .Digital7, .Digital8, .Digital9, .Digital10, .Digital11, .Digital12{
        margin: 0;
        width: 95%;
        min-height: 900px;
    }
}
