.photo__container{
    max-width: 100vw;
}
.photo{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 3rem;
    text-align: right;
    padding: 1rem;
    background-size: cover;
    background-position: center;
}
/* .photo__description{
    padding: 2rem;
    padding-bottom: .5rem;
}
.photo__title{
    padding: 1rem 2rem;
    padding-bottom: 0;
} */

@media screen and (min-width: 728px) {
    .photo__container{
        margin: 0 4rem;
    }
    .photo{
        font-size: 5rem;
    }
}