


.FilmHome{
    background-image: url("../../assets/imgs/Film/film3.webp");
    width: 100vw;
    height: 100vh;
}

.DigitalHome{
    background-image: url("../../assets/imgs/Digital/Digital1.webp");
    width: 100vw;
    height: 300px;
}
.AboutMe{
    background-image: url("../../assets/imgs/AboutMe.webp");
    width: 100vw;
    height: 300px;
}
.home__about-me-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home__about-me-description > h2, p{
    margin: 0 2rem 1rem 2rem;
    max-width: 500px;
}
.home__about-me-description > h2{
    margin-top: 1rem;
    font-size: 2rem;
}
.home__about-me-description > p{
    margin-bottom: 1rem;
}

hr{
    display: flex;
    align-items: center;
    height: 1px;
    margin: 3rem 2rem;
    background-color: var(--gray);
    border: none;
}


@media screen and (min-width:500px) {
    .photo__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .photo{
        width: 500px;
        object-fit: contain;
    }
    .photo__description{
        margin: 0 4rem;
    }
}



@media screen and (min-width: 728px) {
    .FilmHome{
        background-image: url("../../assets/imgs/Film/film4.webp");
        width: 100%;
    }
    .DigitalHome{
        background-image: url("../../assets/imgs/Digital/Digital10.webp");
        width: 100%;
        height: 100vh;
    }
    .AboutMe{
        width: 100%;
        height: 100vh;
    }
    .home__about-me-description > h2, p{
        max-width: 70%;
    }
    .home__about-me-description > p{
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    .home__about-me-description > h2{
        font-size: 3rem;
    }
}







