


.FilmHome{
    background-image: url("../../assets/imgs/Film/film3.webp");
    width: 100vw;
    height: 100vh;
}

.DigitalHome{
    background-image: url("../../assets/imgs/Digital/Digital1.webp");
    width: 100vw;
    height: 300px;
}
.AboutMe{
    background-image: url("../../assets/imgs/AboutMe.webp");
    width: 500px;
    height: 300px;
}


hr{
    display: flex;
    align-items: center;
    height: 1px;
    margin: 3rem 2rem;
    background-color: var(--gray);
    border: none;
}

.main__slider-container, .dnd, .slider-separation{
    display: none;
}

@media screen and (min-width:500px) {
    .photo__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .photo{
        width: 500px;
        object-fit: contain;
    }
    .photo__description{
        margin: 0 4rem;
    }
}


@media screen and (min-width: 1080px) {
    .m-view{
        display: none;
    }
    .FilmHome{
        background-image: url("../../assets/imgs/Film/film4.webp");
        width: 100%;
    }
    .DigitalHome{
        background-image: url("../../assets/imgs/Digital/Digital10.webp");
        width: 100%;
        height: 100vh;
    }
    .AboutMe{
        width: 500px;
        height: 500px;
    }
    .home__about-me-description > h2, p{
        max-width: 70%;
    }
    .home__about-me-description > p{
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    .home__about-me-description > h2{
        font-size: 3rem;
    }
    .digital1{
        width: 100%;
        height: 150px;
    }
    .dnd{
        width: 100vw;
        display: flex;
        justify-content: flex-start;
    }
    .mosaic__container{
        width: 100vw;
        height: 350px;
        display: flex;
        justify-content: space-around; 
    }
    
    .dnd__container{
        display: flex;
        width: 100vw;
    }
    
    .main__slider-container{
        min-height: 200px;
        margin-bottom: 5rem;
    }
    
    .home__body{
        display: flex;
        flex-direction: column;
    }
    .slider-separation{
        align-self: center;
        width: 1000px;
    }
    .slider-separation{
        display: block;
    }
    .Home__Image-Slider{
        width: 200px;
    }
}

