.film-container{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Film1{
    background-image: url("../../assets/imgs/Film/film1.webp");
    height: 100vh;
}
.Film2{
    background-image: url("../../assets/imgs/Film/film2.webp");
    height: 300px;
}
.Film3{
    background-image: url("../../assets/imgs/Film/film3.webp");
    height: 100vh;
}
.Film4{
    background-image: url("../../assets/imgs/Film/film4.webp");
    height: 300px;
}
.Film5{
    background-image: url("../../assets/imgs/Film/film5.webp");
    height: 250px;
}
.Film6{
    background-image: url("../../assets/imgs/Film/film6.webp");
    height: 250px;
}
.Film7{
    background-image: url("../../assets/imgs/Film/film7.webp");
    height: 250px;
}
.Film8{
    background-image: url("../../assets/imgs/Film/film8.webp");
    height: 100vh;
}

@media screen and (min-width: 992px){
    .film-container{
        display: none;
    }
}