* {
  color: var(--white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
html{
  --main-black: #161617;
  --secondary-black: #444445;
  --white: #FEFEFE;
  --orange: rgb(227, 124, 73);
}
body{
  background-color: var(--main-black);
}
